@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Views/Shared/_LayoutVanilla.cshtml";
}

<link rel="stylesheet" href="~/css/registration.css" asp-append-version="true"/>

<div id="container">
    <div id="container__item1">
        <span>Sign Up</span>
        <span>Welcome to Axolotl's Answers, Q&A service!
            Axolotl's Answers is a real treasue for those ones, who likes diving deep into the well of info
            from every topic they're interested in.
            The most efficient path to figuring out the way our world works lies through communication,
            and that's why we offer you to join Axolotl's Answers and become one of those smart and
            sociable axolotls!
        </span>
        <div class="social-networks">
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-google"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </div>
    </div>
    <div id="container__item2">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div>
                <input asp-for="Input.Login" autocomplete="login" aria-required="true" type="text" placeholder="Login" required><span data-tooltip="Use only latin characters and numbers. Min: 4, max: 16." data-flow="right">?</span>
                @* <span asp-validation-for="Input.Login"></span> *@
                <input asp-for="Input.Email" autocomplete="email" aria-required="true" type="email" placeholder="E-mail" required><span data-tooltip="Enter real email." data-flow="right">?</span>
                @* <span asp-validation-for="Input.Email"></span> *@
                <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" type="password" placeholder="Password" required><span data-tooltip="Use only latin characters, numbers, *, -, ., _. Min: 8, max: 20." data-flow="right">?</span>
                @* <span asp-validation-for="Input.Password"></span> *@
                <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" type="password" placeholder="Repeat your password" required><span data-tooltip="Must be the same as password." data-flow="right">?</span>
                @* <span asp-validation-for="Input.ConfirmPassword"></span> *@
            </div>
            <div>
                <input asp-for="Input.Name" autocomplete="login" aria-required="true" type="text" placeholder="First Name" required><span data-tooltip="Use only latin. Min: 3, max: 12." data-flow="right">?</span>
                @* <span asp-validation-for="Input.Name"></span> *@
                <input asp-for="Input.Surname" autocomplete="login" aria-required="true" type="text" placeholder="Last Name" required><span data-tooltip="Use only latin. Min: 3, max: 12." data-flow="right">?</span>
                @* <span asp-validation-for="Input.Surname"></span> *@
                <input asp-for="Input.Birthdate" autocomplete="login" aria-required="true" type="date"><span data-tooltip="Dont use future date." data-flow="right">?</span><br>
                @* <span asp-validation-for="Input.Birthdate"></span> *@

                <label><input type="radio" asp-for="Input.Gender" value="Male" required>Male</label>
                <label><input type="radio" asp-for="Input.Gender" value="Female" required>Female</label>
                <label><input type="radio" asp-for="Input.Gender" value="Other" required>N/a</label><br>
            </div>
            <label><input name="terms" type="checkbox" checked required> I agree to the terms and conditions as set out by the user agreement.</label>
            <button id="registerSubmit" type="submit">Sign Up</button>
        </form>
    </div>
</div> 

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
