.AxolotlProject/.vs
.vs
.idea
.AxolotlProject/bin
.AxolotlProject/obj
.AxolotlUnitTests/bin
.AxolotlUnitTests/obj
.AxolotlProject/.vs/*
.vs/*
.idea/*
.AxolotlProject/bin/*
.AxolotlProject/obj/*
.AxolotlUnitTests/bin/*
.AxolotlUnitTests/obj/*