<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Axolotl Project</title>
    <script src="https://kit.fontawesome.com/e101ba82dd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="page-container">
    <header class="header__container">
        <div class="header__inner">
            <span class="inner__left">
                <div class="inner"><i class="fa-sharp fa-solid fa-bars"></i></div>
            </span>
            <span class="inner__right">
                <div class="inner"><i class="fa-solid fa-magnifying-glass"></i></div>
                <div class="inner"><i class="fa-solid fa-user"></i></div>
                <div class="inner"><i class="fa-regular fa-bell"></i></div>
                <div class="inner"><i class="fa-solid fa-bookmark"></i></div>
                <div class="inner"><i class="fa-solid fa-gears"></i></div>
            </span>
        </div>
    </header>
    <div class="content-wrap">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi aspernatur autem consequatur dicta, eos
            error eum hic sapiente unde. Ab, aliquid aut consequatur dolorem dolores earum fuga laborum mollitia,
            perferendis placeat quaerat quis vitae, voluptates? Adipisci aliquid eligendi exercitationem itaque iure
            nesciunt officia sequi voluptas. Accusantium aliquid commodi consectetur deserunt dolorem doloribus eos
            exercitationem fugiat, illum in laborum laudantium magni molestiae nam necessitatibus saepe tempore. Consequatur
            culpa, explicabo fuga fugiat fugit quae repudiandae sed vel! Et ex illum laboriosam libero magni molestias
            nesciunt quis quisquam reiciendis, rerum temporibus ut. Asperiores atque aut dicta dolores dolorum est et iste
            laboriosam molestias necessitatibus, nulla numquam perspiciatis, quasi quia quod! Labore magnam placeat quo
            sapiente! Ab accusamus aspernatur autem blanditiis consequuntur cupiditate debitis dicta doloremque eos esse et
            hic illum ipsam iste labore magni maiores natus necessitatibus optio perferendis perspiciatis, quis quo, quod
            reiciendis, sint soluta tenetur vel veritatis vitae voluptate voluptatum?
        </div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi aspernatur autem consequatur dicta, eos
            error eum hic sapiente unde. Ab, aliquid aut consequatur dolorem dolores earum fuga laborum mollitia,
            perferendis placeat quaerat quis vitae, voluptates? Adipisci aliquid eligendi exercitationem itaque iure
            nesciunt officia sequi voluptas. Accusantium aliquid commodi consectetur deserunt dolorem doloribus eos
            exercitationem fugiat, illum in laborum laudantium magni molestiae nam necessitatibus saepe tempore. Consequatur
            culpa, explicabo fuga fugiat fugit quae repudiandae sed vel! Et ex illum laboriosam libero magni molestias
            nesciunt quis quisquam reiciendis, rerum temporibus ut. Asperiores atque aut dicta dolores dolorum est et iste
            laboriosam molestias necessitatibus, nulla numquam perspiciatis, quasi quia quod! Labore magnam placeat quo
            sapiente! Ab accusamus aspernatur autem blanditiis consequuntur cupiditate debitis dicta doloremque eos esse et
            hic illum ipsam iste labore magni maiores natus necessitatibus optio perferendis perspiciatis, quis quo, quod
            reiciendis, sint soluta tenetur vel veritatis vitae voluptate voluptatum?
        </div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi aspernatur autem consequatur dicta, eos
            error eum hic sapiente unde. Ab, aliquid aut consequatur dolorem dolores earum fuga laborum mollitia,
            perferendis placeat quaerat quis vitae, voluptates? Adipisci aliquid eligendi exercitationem itaque iure
            nesciunt officia sequi voluptas. Accusantium aliquid commodi consectetur deserunt dolorem doloribus eos
            exercitationem fugiat, illum in laborum laudantium magni molestiae nam necessitatibus saepe tempore. Consequatur
            culpa, explicabo fuga fugiat fugit quae repudiandae sed vel! Et ex illum laboriosam libero magni molestias
            nesciunt quis quisquam reiciendis, rerum temporibus ut. Asperiores atque aut dicta dolores dolorum est et iste
            laboriosam molestias necessitatibus, nulla numquam perspiciatis, quasi quia quod! Labore magnam placeat quo
            sapiente! Ab accusamus aspernatur autem blanditiis consequuntur cupiditate debitis dicta doloremque eos esse et
            hic illum ipsam iste labore magni maiores natus necessitatibus optio perferendis perspiciatis, quis quo, quod
            reiciendis, sint soluta tenetur vel veritatis vitae voluptate voluptatum?
        </div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi aspernatur autem consequatur dicta, eos
            error eum hic sapiente unde. Ab, aliquid aut consequatur dolorem dolores earum fuga laborum mollitia,
            perferendis placeat quaerat quis vitae, voluptates? Adipisci aliquid eligendi exercitationem itaque iure
            nesciunt officia sequi voluptas. Accusantium aliquid commodi consectetur deserunt dolorem doloribus eos
            exercitationem fugiat, illum in laborum laudantium magni molestiae nam necessitatibus saepe tempore. Consequatur
            culpa, explicabo fuga fugiat fugit quae repudiandae sed vel! Et ex illum laboriosam libero magni molestias
            nesciunt quis quisquam reiciendis, rerum temporibus ut. Asperiores atque aut dicta dolores dolorum est et iste
            laboriosam molestias necessitatibus, nulla numquam perspiciatis, quasi quia quod! Labore magnam placeat quo
            sapiente! Ab accusamus aspernatur autem blanditiis consequuntur cupiditate debitis dicta doloremque eos esse et
            hic illum ipsam iste labore magni maiores natus necessitatibus optio perferendis perspiciatis, quis quo, quod
            reiciendis, sint soluta tenetur vel veritatis vitae voluptate voluptatum?
        </div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi aspernatur autem consequatur dicta, eos
            error eum hic sapiente unde. Ab, aliquid aut consequatur dolorem dolores earum fuga laborum mollitia,
            perferendis placeat quaerat quis vitae, voluptates? Adipisci aliquid eligendi exercitationem itaque iure
            nesciunt officia sequi voluptas. Accusantium aliquid commodi consectetur deserunt dolorem doloribus eos
            exercitationem fugiat, illum in laborum laudantium magni molestiae nam necessitatibus saepe tempore. Consequatur
            culpa, explicabo fuga fugiat fugit quae repudiandae sed vel! Et ex illum laboriosam libero magni molestias
            nesciunt quis quisquam reiciendis, rerum temporibus ut. Asperiores atque aut dicta dolores dolorum est et iste
            laboriosam molestias necessitatibus, nulla numquam perspiciatis, quasi quia quod! Labore magnam placeat quo
            sapiente! Ab accusamus aspernatur autem blanditiis consequuntur cupiditate debitis dicta doloremque eos esse et
            hic illum ipsam iste labore magni maiores natus necessitatibus optio perferendis perspiciatis, quis quo, quod
            reiciendis, sint soluta tenetur vel veritatis vitae voluptate voluptatum?
        </div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi aspernatur autem consequatur dicta, eos
            error eum hic sapiente unde. Ab, aliquid aut consequatur dolorem dolores earum fuga laborum mollitia,
            perferendis placeat quaerat quis vitae, voluptates? Adipisci aliquid eligendi exercitationem itaque iure
            nesciunt officia sequi voluptas. Accusantium aliquid commodi consectetur deserunt dolorem doloribus eos
            exercitationem fugiat, illum in laborum laudantium magni molestiae nam necessitatibus saepe tempore. Consequatur
            culpa, explicabo fuga fugiat fugit quae repudiandae sed vel! Et ex illum laboriosam libero magni molestias
            nesciunt quis quisquam reiciendis, rerum temporibus ut. Asperiores atque aut dicta dolores dolorum est et iste
            laboriosam molestias necessitatibus, nulla numquam perspiciatis, quasi quia quod! Labore magnam placeat quo
            sapiente! Ab accusamus aspernatur autem blanditiis consequuntur cupiditate debitis dicta doloremque eos esse et
            hic illum ipsam iste labore magni maiores natus necessitatibus optio perferendis perspiciatis, quis quo, quod
            reiciendis, sint soluta tenetur vel veritatis vitae voluptate voluptatum?
        </div>
    </div>
    <footer class="footer__container">
        <div class="footer__inner">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi aspernatur autem consequatur dicta, eos
                error eum hic sapiente unde.</div>
            <div class="copy">&copy; 4K-Dev, Inc. All rights reserved.</div>
        </div>
    </footer>
</div>
</body>
</html>