@using AxolotlProject.Models
@model UserPost

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Axolotl Project | Create post</title>
    <script src="https://kit.fontawesome.com/e101ba82dd.js" crossorigin="anonymous"></script>
    <script src="~/js/bbcodes.js"></script>
    <link rel="stylesheet" href="~/css/create_post.css" asp-append-version="true" />
</head>
<body>
    <div id="page-container">
        <header class="header__container">
            <div class="header__inner">
                <span class="inner__left">
                    <div class="inner"><i class="fa-sharp fa-solid fa-bars"></i></div>
                </span>
                <span class="inner__right">
                    <div class="inner"><i class="fa-solid fa-magnifying-glass"></i></div>
                    <div class="inner"><i class="fa-solid fa-user"></i></div>
                    <div class="inner"><i class="fa-regular fa-bell"></i></div>
                    <div class="inner"><i class="fa-solid fa-bookmark"></i></div>
                    <div class="inner"><i class="fa-solid fa-gears"></i></div>
                </span>
            </div>
        </header>

        <div class="main-container">
            <div class="main-container__container">
                <div class="header-text">
                    <span>Post creating</span>
                </div>

                <div class="form">
                    <form method="post" asp-controller="UserPost" asp-action="ShowPost">
                        <div class="select-category">
                            <span>
                                Select category:
                                <select name="postCategory">
                                    @foreach (PostCategory pc in (PostCategory[])Enum.GetValues(typeof(PostCategory)))
                                    {
                                        <option value=@pc>@pc</option>
                                    }
                                </select>
                            </span>
                        </div>
                        <div class="bbcodes">
                            <input type="button" value="b" class="bbcode" onclick="formatText ('b');" title="Bolder text" />
                            <input type="button" value="i" class="bbcode" onclick="formatText ('i');" title="Italic text" />
                            <input type="button" value="s" class="bbcode" onclick="formatText ('s');" title="Crossed text" />
                            <input type="button" value="u" class="bbcode" onclick="formatText ('u');" title="Underlined text" />
                            <input type="button" value="center" class="bbcode" onclick="formatText ('center');" title="Centered text" />
                            <input type="button" value="right" class="bbcode" onclick="formatText ('right');" title="Right aligned text" />
                            <input type="button" value="justify" class="bbcode" onclick="formatText ('justify');" title="Aligned text" />
                            <input type="button" value="table" class="bbcode" onclick="formatText ('table');" title="Main table tag" />
                            <input type="button" value="tr" class="bbcode" onclick="formatText ('tr');" title="Table tag" />
                            <input type="button" value="td" class="bbcode" onclick="formatText ('td');" title="Table tag" />
                        </div>
                        <div class="heading_place">
                            <label for="heading"></label>
                            <input id="heading" placeholder="Heaging of the post" name="heading" required />
                        </div>
                        <div class="textarea_place">
                            <label for="post"></label>
                            <textarea id="post" placeholder="Text of the post" name="content"></textarea>
                        </div>
                        <div class="select-tags">
                            <span>Select tags:</span>
                        </div>
                        <div class="agree">
                            <label>
                                <input type="checkbox" required>
                                I have read and agree to 4K-dev_Project's User Agreement and rules
                            </label>
                        </div>
                        <div class="buttons">
                            <input type="submit" class="submit-buttons" value="Create">
                            <input type="button" class="submit-buttons" value="Preview"> @*???*@
                        </div>
                        <div class="questions">
                            <span>Still have questions with post's creating process? Read the <a href="#">documentation</a>.</span>
                        </div>
                    </form>
                    <div class="preview"> @*???*@
                        <div>Preview</div>
                        <div class="preview_field">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>