<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Axolotl Project | Post</title>
    <script src="https://kit.fontawesome.com/e101ba82dd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../../wwwroot/css/post.css">
</head>
<body>
<div id="page-container">
    <header class="header__container">
        <div class="header__inner">
            <span class="inner__left">
                <div class="inner"><i class="fa-sharp fa-solid fa-bars"></i></div>
            </span>
            <span class="inner__right">
                <div class="inner"><i class="fa-solid fa-magnifying-glass"></i></div>
                <div class="inner"><i class="fa-solid fa-user"></i></div>
                <div class="inner"><i class="fa-regular fa-bell"></i></div>
                <div class="inner"><i class="fa-solid fa-bookmark"></i></div>
                <div class="inner"><i class="fa-solid fa-gears"></i></div>
            </span>
        </div>
    </header>

    <div class="main-container">
        <div class="main-container__left">
            <div class="left__container">
                <div class="post-block">
                    <div class="post-block__title">
                        <span class="header-text">[Post title]</span>
                    </div>
                    <div class="post">
                        <div class="post-text"><span></span></div>
                        <div class="post-reactions">
                            <div class="like">
                                <i class="fa-solid fa-thumbs-up reaction"></i>
                            </div>
                            <div class="number">
                                0
                            </div>
                            <div class="dislike">
                                <i class="fa-solid fa-thumbs-down reaction"></i>
                            </div>
                        </div>
                    </div>
                    <div class="post-info">
                        <div><span>Category: </span></div>
                        <div><span>Tags: </span></div>
                    </div>
                </div>
                <div class="comment-block">
                    <div class="comment-block__title">
                        <span class="header-text">Commentsgit</span>
                    </div>
                    <div class="comments">
                        <div class="comments-text"><span></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-container__right">
            <div class="right__container-information">
                <div class="information__title">
                    <span class="header-text">Author</span>
                </div>
                <hr>
            </div>
            <div class="right__container-category">
                <div class="category__title">
                    <span class="header-text category">Related to this category</span>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <footer class="footer__container">
        <div class="footer__inner">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi aspernatur autem consequatur dicta, eos
                error eum hic sapiente unde.</div>
            <div class="copy">&copy; 4K-Dev, Inc. All rights reserved.</div>
        </div>
    </footer>
</div>
</body>
</html>