* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    margin: 0;
}
#page-container {
    display: flex;
    flex-direction: column;
}
.header__container {
    background-color: #000000;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 999;
}
.header__container {
    position: fixed;
    top: 0;
    height: 40px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
i {
    color: #ffffff;
    font-size: 22px;
}

.header__inner {
    position: relative;
    top: 20%;
}
.inner__left {
    float: left;
    display: inline-flex;
    padding-left: 30px;
}
.inner__right {
    float: right;
    display: inline-flex;
    justify-content: space-between;
    padding-right: 30px;
    width: 150px;
}
.content-wrap {
    text-align: justify;
    flex: 1 0 auto;
    width: 70%;
    margin: 60px auto 10px;
    z-index: 100;
}
.footer__container {
    background-color: #000000;
    width: 80%;
    height: 100px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    flex: 0 0 auto;
    margin: 0 auto;
    color: #ffffff;
}
.footer__inner {
    text-align: center;
    margin: 15px 20px 0;
}
.copy {
    margin-top: 10px;
}

@media (max-width: 579px) {
    #main-grid {
        margin: 50px auto 12px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 130px 370px 470px 570px 200px;
        grid-row-gap: 18px;
    }

    .heading-small {
        font-size: 70%;
    }

    .main-grid__item3 {
        background-image: url(../../wwwroot/img/axolotl.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main-grid__creators__item1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .main-grid__creators__item2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .main-grid__creators__item3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .main-grid__creators__item4 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .main-grid__creators__item5 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .main-grid__creators__item6 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .main-grid__creators__item7 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .main-grid__creators__item8 {
        grid-area: 4 / 2 / 5 / 3;
    }

    #main-grid__creators {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 30px 1fr 30px;
        grid-row-gap: 20px;
        grid-column-gap: 4px;
        margin: 5px auto 20px;
    }

    #main-grid__creators > button {
        margin-top: 0 !important;
    }
    input[type="email"]{
        width: 220px !important;
    }
}
@media (min-width: 580px) and (max-width: 949px) {
    #main-grid {
        margin: 50px auto 12px;
        display: grid;
        width: 540px;
        grid-template-columns: 1fr;
        grid-template-rows: 106px 270px 470px 570px 160px;
        grid-column-gap: 8px;
        grid-row-gap: 10px;
    }

    .heading-small {
        font-size: 70%;
    }

    input[type="email"] {
        width: 250px !important;
    }

    .main-grid__item3 {
        background-image: url(../../wwwroot/img/axolotl.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #main-grid > div {
        width: 470px;
    }

    .main-grid__creators__item1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .main-grid__creators__item2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .main-grid__creators__item3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .main-grid__creators__item4 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .main-grid__creators__item5 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .main-grid__creators__item6 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .main-grid__creators__item7 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .main-grid__creators__item8 {
        grid-area: 4 / 2 / 5 / 3;
    }

    #main-grid__creators {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 30px 1fr 30px;
        grid-row-gap: 20px;
        grid-column-gap: 23px;
        margin: 5px auto 30px;
    }
    #main-grid__creators > button {
        margin-top: 0 !important;
     }
}
@media (min-width: 950px) {
    #main-grid {
        margin: 50px auto 12px;
        display: grid;
        width: 750px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 106px 370px 350px 160px;
        grid-column-gap: 8px;
        grid-row-gap: 10px;
    }
    .main-grid__item1 {
        grid-area: 1 / 1 / 2 / 3;
    }

    .main-grid__item2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .main-grid__item3 {
        grid-area: 2 / 2 / 3 / 3;
        background-image: url(../../wwwroot/img/axolotl.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main-grid__item4 {
        grid-area: 3 / 1 / 4 / 3;
    }

    .main-grid__item5 {
        grid-area: 4 / 1 / 5 / 3;
    }
    #main-grid__creators {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 30px;
        grid-column-gap: 23px;
        margin: 5px auto 50px;
    }
}
#main-grid > div {
    background-color: #ebebeb;
    border-radius: 30px;
    box-shadow: 4px 3px 6px -1px rgba(158,158,158,0.39);
    padding: 20px 35px;
}
.heading-big {
    font-size: 210%;
}
.heading-medium {
    font-size: 160%;
}
.heading-small {
    font-size: 105%;
    text-align: center;
}
button, input[type="submit"] {
    background-color: #ff5d55;
    margin: auto;
    margin-top: auto;
    display: block;
    cursor: pointer;
    height: 34px;
    width: 150px;
    border-radius: 12px;
    border: none;
    font-size: 90%;
    margin-top: 15px;
    box-shadow: 2px 5px 7px 1px rgba(158,158,158,0.53);
}
#main-grid__creators > div {
    border-radius: 50%;
    background-color: white;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    box-shadow: 0px 7px 13px -1px rgba(0,0,0,0.78);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
input[type="submit"] {
    background-image: url(../../wwwroot/img/mail.png);
    background-repeat: no-repeat;
    background-size: 54%;
    background-position: center;
    width: 42px;
    display: inline-block;
    border-radius: 16px;
    margin-left: 15px;
}
input[type="email"] {
    height: 40px;
    width: 400px;
    border-radius: 14px;
    padding-left: 20px;
    border: 2px solid #292929;
    box-shadow: 2px 5px 10px -3px rgba(0,0,0,0.58);
    font-size: 90%;
}
#creator-1 {
    background-image: url(../../wwwroot/img/creator1.jpg);
}
#creator-2 {
    background-image: url(../../wwwroot/img/creator1.jpg);
}
#creator-3 {
    background-image: url(../../wwwroot/img/creator1.jpg);
}
#creator-4 {
    background-image: url(../../wwwroot/img/creator1.jpg);
}