* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    margin: 0;
}
#page-container {
    display: flex;
    flex-direction: column;
}
.header__container {
    background-color: #000000;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 999;
}
.header__container {
    position: fixed;
    top: 0;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    max-height: 80px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
i {
    color: #ffffff;
    font-size: 22px;
}

.header__inner {
    width: 100%;
    position: relative;
    top: 20%;
}
.inner__left {
    float: left;
    display: inline-flex;
    padding-left: 30px;
}
.inner__right {
    float: right;
    display: inline-flex;
    justify-content: space-between;
    padding-right: 30px;
    width: 150px;
}
.content-wrap {
    text-align: justify;
    flex: 1 0 auto;
    width: 70%;
    margin: 60px auto 10px;
    z-index: 100;
}
.footer__container {
    background-color: #000000;
    width: 80%;
    min-height: 100px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    flex: 0 0 auto;
    margin: 0 auto;
    color: #ffffff;
}
.footer__inner {
    text-align: center;
    margin: 15px 20px 0;
}
.copy {
    margin-top: 10px;
}
.main-container {
    width: 75%;
    margin: 60px auto 30px;
    min-height: 100%;
}
.main-container__container {
    background-color: #ebebeb;
    min-height: 100px;
    border-radius: 12px;
    width: 100%;
    margin: auto;
    box-shadow: 3px 3px 7px 2px rgba(158,158,158,0.53),
                -.5px -.5px 7px 2px rgba(158,158,158,0.53);
}
.main-container__container {
    text-align: center;
    font-size: 18px;
}
.header-text {
    font-weight: bolder;
    font-size: 30px;
    padding: 10px;
}
.select-category, .select-tags {
    text-align: left;
    margin: 5px auto;
    padding: 0 30px;
}
.form {
    margin: auto;
    width: 80%;
}
#post {
    resize: vertical;
    min-height: 300px;
    max-height: 500px;
    width: calc(100% - 10px);
    padding: 5px;
}
.bbcodes {
    width: 100%;
    border: 1px solid black;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.bbcode {
    padding: 4px 6px;
    margin: 1px;
    border-radius: 8px;
}
.submit-buttons {
    margin: 10px auto;
}
.submit-buttons {
    font-family: "Times New Roman";
    font-size: 18px;
    padding: 5px 25px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 5px;
}
.agree, .questions {
    text-align: left;
}
.questions a {
    color: black;
}
.questions {
    padding-bottom: 15px;
}
.preview {
    text-align: left;
    padding-bottom: 15px;
    display: none;
}