* {
    margin: 0;
    padding: 0;
}
.header__container {
    background-color: #000000;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 999;
}
.header__container {
    position: fixed;
    top: 0;
    height: 40px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
i {
    color: #ffffff;
    font-size: 22px;
}

.header__inner {
    position: relative;
    top: 20%;
}
.inner__left {
    float: left;
    display: inline-flex;
    padding-left: 30px;
}
.inner__right {
    float: right;
    display: inline-flex;
    justify-content: space-between;
    padding-right: 30px;
    width: 150px;
}
.footer__container {
    background-color: #000000;
    width: 80%;
    height: 100px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    flex: 0 0 auto;
    margin: 0 auto;
    color: #ffffff;
}
.footer__inner {
    text-align: center;
    margin: 15px 20px 0;
}
.copy {
    margin-top: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ebebeb;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (min-width: 300px) and (max-width: 580px) {
    .footer__container {
        height: 150px;
        width: 90%;
    }
    .header__container {
        width: 90%;
    }
}
@media (width: 540px) {
    .footer__container {
        height: 150px;
        width: 90%;
    }
    .header__container {
        width: 90%;
    }
}
@media (max-width: 300px) {
    .footer__container {
        height: 155px;
        width: 90%;
    }
    .header__container {
        width: 90%;
    }
}