* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    margin: 0;
}
#page-container {
    display: flex;
    flex-direction: column;
}
i {
    color: #ffffff;
    font-size: 22px;
}
.content-wrap {
    text-align: justify;
    flex: 1 0 auto;
    width: 70%;
    margin: 60px auto 10px;
    z-index: 100;
}
.copy {
    margin-top: 10px;
}
.main-container {
    margin-bottom: 10px;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-container__right {
    width: 30%;
    display: flex;
    row-gap: 20px;
    flex-direction: column;

}
.main-container__left {
    width: 70%;
    margin-right: 20px;
}
.left__container {
    background-color: #ebebeb;
    min-height: 600px;
    border-radius: 12px;
    padding: 20px;
}
.right__container-information, .right__container-category {
    background-color: #ebebeb;
    min-height: 200px;
    border-radius: 12px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.header-text {
    font-weight: bolder;
    font-size: 30px;
    padding: 10px;
}
.post {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.post-text {
    width: 85%;
    border-radius: 12px;
    text-align: justify;
}
i.reaction {
    color: black;
    font-size: 180%;
    cursor: pointer;
}
.post-reactions, comment-reactions {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.comment-reactions {
    float: right;
    text-align: center;
}
.comment-reactions a{
    text-decoration: none;
    color: black;
}
.comment-content{
    width: 90%;
}
.post-info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
    font-size: 20px;
}
.commentForm {
    width: 95%;
    margin: 0px auto;
}
.comments {
    width: 95%;
    /* background-color: white; */
    /* border-radius: 12px; */
    min-height: 250px;
    text-align: left;
    margin: 20px auto;
}
.commentBlock {
    background-color: aquamarine;
    border-radius: 12px;
    padding: 10px;
    min-height: 5vh;
    text-align: left;
    border: 2px solid gray;
    display: flex;
    justify-content: space-around;
}
textarea{
    resize: vertical;
    width: 100%;
}
.commentManagement{
    display:flex;
    justify-content:space-evenly;
}
.commentManagement > *{
    margin: 10px;
    width: 50%;
}

hr {
    height: 2px;
    margin: 5px 0;
}

.category__title, .information__title {
    text-align: center;
    padding: 5px;
}
.category {
    padding: 0 5px;
}

@media (max-width: 800px) {
    .main-container {
        flex-direction: column;
        row-gap: 20px;
    }
    .main-container__right {
        width: 100%;
    }
    .main-container__left {
        width: 100%;
    }
}