* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    margin: 0;
}
#page-container {
    display: flex;
    flex-direction: column;
}
.header__container {
    background-color: #000000;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 999;
}
.header__container {
    position: fixed;
    top: 0;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    max-height: 80px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
i {
    color: #ffffff;
    font-size: 22px;
}

.header__inner {
    width: 100%;
    position: relative;
    top: 20%;
}
.inner__left {
    float: left;
    display: inline-flex;
    padding-left: 30px;
}
.inner__right {
    float: right;
    display: inline-flex;
    justify-content: space-between;
    padding-right: 30px;
    width: 150px;
}
.content-wrap {
    text-align: justify;
    flex: 1 0 auto;
    width: 70%;
    margin: 60px auto 10px;
    z-index: 100;
}
.footer__container {
    background-color: #000000;
    width: 80%;
    min-height: 100px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    flex: 0 0 auto;
    margin: 0 auto;
    color: #ffffff;
}
.footer__inner {
    text-align: center;
    margin: 15px 20px 0;
}
.copy {
    margin-top: 10px;
}
.main-container {
    width: 70%;
    margin: 60px auto 30px;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-container__right {
    width: 30%;
    display: flex;
    row-gap: 20px;
    flex-direction: column;

}
.main-container__left {
    width: 70%;
    margin-right: 20px;
}
.left__container {
    background-color: #ebebeb;
    min-height: 600px;
    border-radius: 12px;
    padding: 20px;
}
.right__container-information, .right__container-category {
    background-color: #ebebeb;
    min-height: 200px;
    border-radius: 12px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.header-text {
    font-weight: bolder;
    font-size: 30px;
    padding: 10px;
}
.post {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.post-text {
    width: 85%;
    background-color: white;
    border-radius: 12px;
    min-height: 200px;
}
i.reaction {
    color: black;
    font-size: 180%;
    cursor: pointer;
}
.post-reactions {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.post-info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
}
.comments {
    width: 95%;
    background-color: white;
    border-radius: 12px;
    min-height: 250px;
    text-align: center;
    margin: 20px auto;
}
hr {
    background-color: white;
    color: white;
    height: 2px;
    border: none;
    margin: 5px 0;
}

.category__title, .information__title {
    text-align: center;
    padding: 5px;
}
.category {
    padding: 0 5px;
}

@media (max-width: 800px) {
    .main-container {
        flex-direction: column;
        row-gap: 20px;
    }
    .main-container__right {
        width: 100%;
    }
    .main-container__left {
        width: 100%;
    }
}