* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    margin: 0;
}
#page-container {
    display: flex;
    flex-direction: column;
}
.content-wrap {
    text-align: justify;
    flex: 1 0 auto;
    width: 70%;
    margin: 60px auto 10px;
    z-index: 100;
}
#main-grid > div {
    background-color: #ebebeb;
    border-radius: 30px;
    box-shadow: 4px 3px 6px -1px rgba(158,158,158,0.39);
    padding: 20px 35px;
}
.heading-big {
    font-size: 210%;
}
.heading-medium {
    font-size: 160%;
}
.heading-small {
    font-size: 105%;
    text-align: center;
}
button, input[type="submit"] {
    background-color: #ff5d55;
    margin: auto;
    margin-top: auto;
    display: block;
    cursor: pointer;
    height: 34px;
    width: 100%;
    border-radius: 12px;
    border: none;
    font-size: 90%;
    margin-top: 15px;
    box-shadow: 2px 5px 7px 1px rgba(158,158,158,0.53);
}
#main-grid__creators > div {
    border-radius: 50%;
    background-color: white;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    box-shadow: 0px 7px 13px -1px rgba(0,0,0,0.78);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#main-grid {
    margin: 50px auto 12px;
    display: grid;
    width: 750px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 106px 930px;
    grid-column-gap: 8px;
    grid-row-gap: 10px;
}
.main-grid__item1 {
    grid-area: 1 / 1 / 2 / 3;
}

.main-grid__item2 {
    grid-area: 2 / 1 / 3 / 3;
}
.user-login {
    font-size: 22px;
    font-weight: bolder;
    padding-left: 15px;
}
.username {
    margin-bottom: 10px;
}
.avatar__image {
    width: 250px;
    border-radius: 10px;
}
.avatar_note__block {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.note__block {
    margin-top: 10px;
}
#notes {
    border-radius: 10px;
    resize: none;
    padding: 10px;
    border-left: 6px solid #ff5d55;
}
.user-information {
    width: 96%;
    height: 150px;
    background-color: #d6d6d6;
    border-radius: 30px;
    margin: 15px 0;
    text-align: center;
    padding: 15px 15px 15px 15px;
    overflow: auto;
    box-shadow: 0px 5px 7px 1px rgba(158,158,158,0.53);
}
.userdb__information {
    display: flex;
    flex-direction: column;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(235, 235, 235, 1), rgba(0, 0, 0, 0));
    margin: 5px 0;
}
span.bolder {
    font-weight: bolder;
}
.information-choosing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.information-choosing__container {
    width: 100%;
    background-color: #d6d6d6;
    border-radius: 30px;
}
.information-choosing__button {
    background-color: #d6d6d6;
    width: 250px;
}
.information-choosing__information {
    width: 100%;
    margin: 15px 0 0 20px;
    border-radius: 30px;
    background-color: #d6d6d6;
    overflow: auto;
    box-shadow: 2px 5px 7px 1px rgba(158,158,158,0.53);
}
.profile-actions {
    text-align: center;
    width: 100%;
    background-color: #d6d6d6;
    border-radius: 30px;
    margin-top: 30px;
    padding: 15px 0;
    box-shadow: 2px 5px 7px 1px rgba(158,158,158,0.53);
}
.bottom_links {
    color: #000000;
    text-decoration: none;
    font-weight: bolder;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ebebeb;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@media (min-width: 580px) and (max-width: 750px) {
    .avatar_note__block {
        flex-direction: column;
    }
    .heading-big {
        font-size: 180%;
    }
    .heading-medium {
        font-size: 130%;
    }
    #main-grid {
        width: 100vw;
        grid-template-rows: 106px 1030px;
    }
    .avatar_note__block {
        flex-direction: column;
    }
    #notes {
        height: 50px;
        width: 100vw;
    }
    .avatar__image {
        width: 100%;
    }
    .information-choosing {
        flex-direction: column;
    }
    .information-choosing__button {
        width: 100%;
    }
    .information-choosing__information {
        height: 150px;
        overflow: auto;
        margin: 15px 0;
    }
}
@media (min-width: 300px) and (max-width: 580px) {
    .heading-big {
        font-size: 180%;
    }
    .heading-medium {
        font-size: 130%;
    }
    #main-grid {
        width: 100vw;
        grid-template-rows: 106px 1315px;
    }
    .avatar_note__block {
        flex-direction: column;
    }
    #notes {
        height: 50px;
        width: 92%;
    }
    .avatar__image {
        width: 100%;
    }
    .information-choosing {
        flex-direction: column;
    }
    .information-choosing__button {
        width: 100%;
    }
    .information-choosing__information {
        height: 150px;
        overflow: auto;
        margin: 15px 0;
    }
    .profile-actions {
        margin-top: 0;
    }
}
@media (width: 540px) {
    .heading-big {
        font-size: 180%;
    }
    .heading-medium {
        font-size: 130%;
    }
    #main-grid {
        width: 100vw;
        grid-template-rows: 106px 1430px;
    }
    .avatar_note__block {
        flex-direction: column;
    }
    #notes {
        height: 50px;
        width: 92%;
    }
    .avatar__image {
        width: 100%;
    }
    .information-choosing {
        flex-direction: column;
    }
    .information-choosing__button {
        width: 100%;
    }
    .information-choosing__information {
        height: 150px;
        overflow: auto;
        margin: 15px 0;
    }
    .profile-actions {
        margin-top: 0;
    }
}
@media (max-width: 300px) {
    .heading-big {
        font-size: 150%;
    }
    .heading-medium {
        font-size: 110%;
    }
    #main-grid {
        width: 100vw;
        grid-template-rows: 106px 1200px;
    }
    .avatar_note__block {
        flex-direction: column;
    }
    #notes {
        height: 50px;
        width: 92%;
    }
    .avatar__image {
        width: 100%;
    }
    .information-choosing {
        flex-direction: column;
    }
    .information-choosing__button {
        width: 100%;
    }
    .information-choosing__information {
        height: 150px;
        overflow: auto;
        margin: 15px 0;
    }
    .profile-actions {
        margin-top: 0;
    }
}
@media (width: 360px) {
    #main-grid {
        grid-template-rows: 106px 1280px;
    }
}